@import './colors.scss';
@import 'bulma/bulma';
@import  './fonts';
@import './navbar';

body {
  background-color: $beetroot_white;
}
.navbar>.container  {
  @include touch {
    min-height: initial;
  }
}

.footer {
  padding: initial;
  display: flex;
  justify-content: center;
  align-items: center;
}

#right_section {
  color: $beetroot_white;
}

#contact_us {
  color: $beetroot_white;
}

.main {
  height: 100vh;
}

#got_image {
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.main_logo {
  max-width: 30vw;
  transform: translateZ(20px);
}

.is-flex {
  display: flex;
}

.is-flex-centered {
  justify-content: center;
  align-items: center;
}

.contact {
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: map-get($beetroot, 'red-100');
  color: white;
}

.label {
  color: map-get($beetroot, 'red-pop-10');
}

.input, .textarea {
  background-color: map-get($beetroot, 'red-pop-10');
}

.button.is-primary {
  font-weight: bold;
  color: map-get($beetroot, 'red-100');
}

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social_icon {
  transition: all .2s ease-in-out;
}

.social_icon:hover {
  transform: scale(1.3); 
}

// Bulma has no offset 0
@include mobile {
  .column.is-offset-0-mobile {
    margin-left: 0;
  }
}

@include tablet {
  .column.is-offset-0-tablet {
    margin-left: 0;
  }
}

@include touch {
  .column.is-offset-0-touch {
    margin-left: 0;
  }
}

@include desktop {
  .column.is-offset-0-desktop {
    margin-left: 0;
  }
}

@include widescreen {
  .column.is-offset-0-widescreen {
    margin-left: 0;
  }
}

@include fullhd {
  .column.is-offset-0-fullhd {
    margin-left: 0;
  }
}

@each $i in 0, 3, 4, 6, 9 {
  .has-radius-#{$i} { border-radius: #{$i}px; }

  .has-radius-bottom-#{$i} {
    border-bottom-left-radius: #{$i}px;
    border-bottom-right-radius: #{$i}px;
  }

  .has-radius-top-#{$i} {
    border-top-left-radius: #{$i}px;
    border-top-right-radius: #{$i}px;
  }
}

@each $i in 3, 4, 5, 6, 9, 12, 18, 24, 36, 48, 60, 72, 96, 120, 180, 240, 0 {
  .has-pb-#{$i} { padding-bottom: #{$i}px !important; }
  .has-pt-#{$i} { padding-top: #{$i}px !important; }
  .has-pr-#{$i} { padding-right: #{$i}px !important; }
  .has-pl-#{$i} { padding-left: #{$i}px !important; }
  .has-padding-#{$i} { padding: #{$i}px !important; }
  .has-mb-#{$i} { margin-bottom: #{$i}px !important; }
  .has-mt-#{$i} { margin-top: #{$i}px !important; }
  .has-mr-#{$i} { margin-right: #{$i}px !important; }
  .has-ml-#{$i} { margin-left: #{$i}px !important; }
  .has-margin-#{$i} { margin: #{$i}px !important; }
}

@each $i in 3, 4, 5, 6, 9, 12, 18, 24, 36, 48, 60, 72, 96, 120, 180, 240, 0 {
  @include mobile {
    .has-pb-#{$i}-mobile { padding-bottom: #{$i}px !important; }
    .has-pt-#{$i}-mobile { padding-top: #{$i}px !important; }
    .has-pr-#{$i}-mobile { padding-right: #{$i}px !important; }
    .has-pl-#{$i}-mobile { padding-left: #{$i}px !important; }
    .has-padding-#{$i}-mobile { padding: #{$i}px !important; }
    .has-mb-#{$i}-mobile { margin-bottom: #{$i}px !important; }
    .has-mt-#{$i}-mobile { margin-top: #{$i}px !important; }
    .has-mr-#{$i}-mobile { margin-right: #{$i}px !important; }
    .has-ml-#{$i}-mobile { margin-left: #{$i}px !important; }
    .has-margin-#{$i}-mobile { margin: #{$i}px !important; }
  }
}

@each $i in 3, 4, 5, 6, 9, 12, 18, 24, 36, 48, 60, 72, 96, 120, 180, 240, 0 {
  @include tablet {
    .has-pb-#{$i}-tablet { padding-bottom: #{$i}px !important; }
    .has-pt-#{$i}-tablet { padding-top: #{$i}px !important; }
    .has-pr-#{$i}-tablet { padding-right: #{$i}px !important; }
    .has-pl-#{$i}-tablet { padding-left: #{$i}px !important; }
    .has-padding-#{$i}-tablet { padding: #{$i}px !important; }
    .has-mb-#{$i}-tablet { margin-bottom: #{$i}px !important; }
    .has-mt-#{$i}-tablet { margin-top: #{$i}px !important; }
    .has-mr-#{$i}-tablet { margin-right: #{$i}px !important; }
    .has-ml-#{$i}-tablet { margin-left: #{$i}px !important; }
    .has-margin-#{$i}-tablet { margin: #{$i}px !important; }
  }
}

@each $i in 3, 4, 5, 6, 9, 12, 18, 24, 36, 48, 60, 72, 96, 120, 180, 240, 0 {
  @include touch {
    .has-pb-#{$i}-touch { padding-bottom: #{$i}px !important; }
    .has-pt-#{$i}-touch { padding-top: #{$i}px !important; }
    .has-pr-#{$i}-touch { padding-right: #{$i}px !important; }
    .has-pl-#{$i}-touch { padding-left: #{$i}px !important; }
    .has-padding-#{$i}-touch { padding: #{$i}px !important; }
    .has-mb-#{$i}-touch { margin-bottom: #{$i}px !important; }
    .has-mt-#{$i}-touch { margin-top: #{$i}px !important; }
    .has-mr-#{$i}-touch { margin-right: #{$i}px !important; }
    .has-ml-#{$i}-touch { margin-left: #{$i}px !important; }
    .has-margin-#{$i}-touch { margin: #{$i}px !important; }
  }
}

.is-borderless {
  border: 0;
}

.has-shadow {
  box-shadow: 0 1px 3px rgba(#1D1A1B, 0.25);
}

.is-white {
  color: $beetroot_white !important;
}

.has-bg-white {
  background: $beetroot_white !important;
}

.has-border-white {
  border-color: $beetroot_white !important;
}

.has-border-bottom {
  border-bottom: 1px solid;
}

.has-border-top {
  border-top: 1px solid;
}

.has-border {
  border: 1px solid;
}

@each $color in blue, red, green, tangerine {
  @for $i from 1 through 15 {
    .is-#{"" + $color}-#{$i * 10} {
      color: map-get($beetroot, $color + '-#{$i * 10}') !important;
    }

    // .is-#{"" + $color}-pop-#{$i * 10} {
    //   color: map-get($beetroot, $color + '-pop-#{$i * 10}') !important;
    // }

    .has-bg-#{"" + $color}-#{$i * 10} {
      background-color: map-get($beetroot, $color + '-#{$i * 10}') !important;
    }

    // .has-bg-#{"" + $color}-#{$i * 10}-half {
    //   background-color: rgba(map-get($beetroot, $color + '-#{$i * 10}'), 0.5) !important;
    // }

    // .has-bg-#{"" + $color}-pop-#{$i * 10} {
    //   background-color: map-get($beetroot, $color + '-pop-#{$i * 10}') !important;
    // }

    .has-border-#{"" + $color}-#{$i * 10} {
      border-color: map-get($beetroot, $color + '-#{$i * 10}') !important;
    }

    .has-border-#{"" + $color}-pop-#{$i * 10} {
      border-color: map-get($beetroot, $color + '-pop-#{$i * 10}') !important;
    }
  }
}
// Bulma has no offset 0
@include mobile {
  .column.is-offset-0-mobile {
    margin-left: 0;
  }
}

@include tablet {
  .column.is-offset-0-tablet {
    margin-left: 0;
  }
}

@include touch {
  .column.is-offset-0-touch {
    margin-left: 0;
  }
}

@include desktop {
  .column.is-offset-0-desktop {
    margin-left: 0;
  }
}

@include widescreen {
  .column.is-offset-0-widescreen {
    margin-left: 0;
  }
}

@include fullhd {
  .column.is-offset-0-fullhd {
    margin-left: 0;
  }
}

@each $i in 0, 3, 4, 6, 9 {
  .has-radius-#{$i} { border-radius: #{$i}px; }

  .has-radius-bottom-#{$i} {
    border-bottom-left-radius: #{$i}px;
    border-bottom-right-radius: #{$i}px;
  }

  .has-radius-top-#{$i} {
    border-top-left-radius: #{$i}px;
    border-top-right-radius: #{$i}px;
  }
}

@each $i in 3, 4, 5, 6, 9, 12, 18, 24, 36, 48, 60, 72, 96, 120, 180, 240, 0 {
  .has-pb-#{$i} { padding-bottom: #{$i}px !important; }
  .has-pt-#{$i} { padding-top: #{$i}px !important; }
  .has-pr-#{$i} { padding-right: #{$i}px !important; }
  .has-pl-#{$i} { padding-left: #{$i}px !important; }
  .has-padding-#{$i} { padding: #{$i}px !important; }
  .has-mb-#{$i} { margin-bottom: #{$i}px !important; }
  .has-mt-#{$i} { margin-top: #{$i}px !important; }
  .has-mr-#{$i} { margin-right: #{$i}px !important; }
  .has-ml-#{$i} { margin-left: #{$i}px !important; }
  .has-margin-#{$i} { margin: #{$i}px !important; }
}

@each $i in 3, 4, 5, 6, 9, 12, 18, 24, 36, 48, 60, 72, 96, 120, 180, 240, 0 {
  @include mobile {
    .has-pb-#{$i}-mobile { padding-bottom: #{$i}px !important; }
    .has-pt-#{$i}-mobile { padding-top: #{$i}px !important; }
    .has-pr-#{$i}-mobile { padding-right: #{$i}px !important; }
    .has-pl-#{$i}-mobile { padding-left: #{$i}px !important; }
    .has-padding-#{$i}-mobile { padding: #{$i}px !important; }
    .has-mb-#{$i}-mobile { margin-bottom: #{$i}px !important; }
    .has-mt-#{$i}-mobile { margin-top: #{$i}px !important; }
    .has-mr-#{$i}-mobile { margin-right: #{$i}px !important; }
    .has-ml-#{$i}-mobile { margin-left: #{$i}px !important; }
    .has-margin-#{$i}-mobile { margin: #{$i}px !important; }
  }
}

@each $i in 3, 4, 5, 6, 9, 12, 18, 24, 36, 48, 60, 72, 96, 120, 180, 240, 0 {
  @include tablet {
    .has-pb-#{$i}-tablet { padding-bottom: #{$i}px !important; }
    .has-pt-#{$i}-tablet { padding-top: #{$i}px !important; }
    .has-pr-#{$i}-tablet { padding-right: #{$i}px !important; }
    .has-pl-#{$i}-tablet { padding-left: #{$i}px !important; }
    .has-padding-#{$i}-tablet { padding: #{$i}px !important; }
    .has-mb-#{$i}-tablet { margin-bottom: #{$i}px !important; }
    .has-mt-#{$i}-tablet { margin-top: #{$i}px !important; }
    .has-mr-#{$i}-tablet { margin-right: #{$i}px !important; }
    .has-ml-#{$i}-tablet { margin-left: #{$i}px !important; }
    .has-margin-#{$i}-tablet { margin: #{$i}px !important; }
  }
}

@each $i in 3, 4, 5, 6, 9, 12, 18, 24, 36, 48, 60, 72, 96, 120, 180, 240, 0 {
  @include touch {
    .has-pb-#{$i}-touch { padding-bottom: #{$i}px !important; }
    .has-pt-#{$i}-touch { padding-top: #{$i}px !important; }
    .has-pr-#{$i}-touch { padding-right: #{$i}px !important; }
    .has-pl-#{$i}-touch { padding-left: #{$i}px !important; }
    .has-padding-#{$i}-touch { padding: #{$i}px !important; }
    .has-mb-#{$i}-touch { margin-bottom: #{$i}px !important; }
    .has-mt-#{$i}-touch { margin-top: #{$i}px !important; }
    .has-mr-#{$i}-touch { margin-right: #{$i}px !important; }
    .has-ml-#{$i}-touch { margin-left: #{$i}px !important; }
    .has-margin-#{$i}-touch { margin: #{$i}px !important; }
  }
}

.is-borderless {
  border: 0;
}

.has-shadow {
  box-shadow: 0 1px 3px rgba(#1D1A1B, 0.25);
}

.is-white {
  color: $beetroot_white !important;
}

.has-bg-white {
  background: $beetroot_white !important;
}

.has-border-white {
  border-color: $beetroot_white !important;
}

.has-border-bottom {
  border-bottom: 1px solid;
}

.has-border-top {
  border-top: 1px solid;
}

.has-border {
  border: 1px solid;
}

@each $color in blue, red, green, tangerine {
  @for $i from 1 through 15 {
    .is-#{"" + $color}-#{$i * 10} {
      color: map-get($beetroot, $color + '-#{$i * 10}') !important;
    }

    // .is-#{"" + $color}-pop-#{$i * 10} {
    //   color: map-get($beetroot, $color + '-pop-#{$i * 10}') !important;
    // }

    .has-bg-#{"" + $color}-#{$i * 10} {
      background-color: map-get($beetroot, $color + '-#{$i * 10}') !important;
    }

    // .has-bg-#{"" + $color}-#{$i * 10}-half {
    //   background-color: rgba(map-get($beetroot, $color + '-#{$i * 10}'), 0.5) !important;
    // }

    // .has-bg-#{"" + $color}-pop-#{$i * 10} {
    //   background-color: map-get($beetroot, $color + '-pop-#{$i * 10}') !important;
    // }

    .has-border-#{"" + $color}-#{$i * 10} {
      border-color: map-get($beetroot, $color + '-#{$i * 10}') !important;
    }

    .has-border-#{"" + $color}-pop-#{$i * 10} {
      border-color: map-get($beetroot, $color + '-pop-#{$i * 10}') !important;
    }
  }
}

.bottom_button {
  justify-content: flex-end; 
  align-items: center;

  @include touch {
    justify-content: flex-start;
  }
}
